.before-after {
    padding: 60px 0;
    background-color: var(--navy-blue);
    color: var(--white);
}

.before-after h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
}

.before-after-featured {
    padding-bottom: 20px;
}

.before-after-grid {
    display: grid;
    gap: 20px;
}

.before-after-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.compare {
  --mask-width: 50%;
  --handle-size: 32px;

  position: relative;
}

.compare__separator {
  position: absolute;
  top: 0;
  height: 100%;
  left: var(--mask-width);
  width: 1px;
  margin-left: -1px;
  background: var(--navy-blue);
  z-index: 1;
  pointer-events: none;
}

.compare__image-one {
  width: 100%;
  display: block;
  border-radius: 10px;
}

.compare__mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  background: white;
  overflow: hidden;
  width: var(--mask-width);
}

.compare__image-two {
  height: 100%;
  width: auto;
  border-radius: 10px;
}

.compare__input {
  appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  top: 0;
  left: calc(var(--handle-size) / -2);
  width: calc(100% + var(--handle-size));
  height: 100%;
  opacity: 0;
  z-index: 2;
  cursor: col-resize;
  background-color: transparent;
}

/* Firefox */
.compare__input::-moz-range-track {
  height: 100%;
}

.compare__input::-moz-range-thumb {
  height: 100%;
  border-radius: 0;
  width: var(--handle-size);
  border: none;
}

/* Webkit */
.compare__input::-webkit-slider-runnable-track {
  height: 100%;
}

.compare__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 100%;
  border-radius: 0;
  width: var(--handle-size);
  border: none;
}

.compare__icon {
  position: absolute;
  z-index: 2;
  color: var(--navy-blue);
  width: var(--handle-size);
  height: var(--handle-size);
  top: 50%;
  left: var(--mask-width);
  transform: translate(-50%, -50%);
  padding: 6px;
  border: 2px solid var(--navy-blue);
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
}

.compare__icon path {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
}