* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: var(--white);
    color: var(--navy-blue);
    font-size: 16px;
    line-height: 1.5;
}